# Compilation of Ledger's app
src/glyphs.c
src/glyphs.h
bin/
debug/
dep/
obj/

# Editors
.vscode/
.idea/

# Python
*.pyc[cod]
*.egg
__pycache__/
*.egg-info/
.eggs/
.python-version

# Pyinstaller
build/
dist/
*.manifest
*.spec

# Temporary directory with snapshots taken during test runs
tests/snapshots-tmp/

# Virtual env for sideload (macOS and Windows)
ledger/